
:root, root[data-theme='dark']{
    --primary-color:#f0f0f0;

    --primary-bg-color:#111217;
    --secondary-bg-color:#28292e;
    --border-color:#28292e;

    --title-color:#9a9a9c;
    --text-color:#9a9a9c;
    --link-color:#9a9a9c;
    --icon-color:#c7c8c9;
}

:root[data-theme='light']{
    --primary-color:#00000F;

    --primary-bg-color:#E9E9E9;
    --secondary-bg-color:#C7C8C9;
    --border-color:#C7C8C9;

    --title-color:#00000F;
    --text-color:#28292E;
    --link-color:#28292E;
    --icon-color:#56575A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
}

body{
    background:var(--primary-bg-color);
}

a{
    text-decoration: none;
    color: var(--text-color);
}

a:hover{
    color: var(--primary-color);
    font-weight: 600;
}

p{
    color: var(--text-color);
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

 .header__toggle{
        display: flex;
        justify-content: flex-end;
    }


.header__brand .brand__logo{
    width: 4rem;
    height: 4rem;
}

#toggleTheme{
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    
    
}

#toggleTheme:hover{
    transition: ease-in-out 1.5s;
    transform: scaleX(1.1);
}

.menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item{
    width: 100%;
}

.menu--mobile{
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border: 1px solid var(--border-color);
}

.menu--mobile .menu__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 0.5rem; 
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}


.menu__icon, .menu__text{
    color: var(--text-color);
}

.menu__icon{
    font-size: 1.5rem; 

}

.menu__text{
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header__nav{
    display: none;
}

.menu--principal{
    gap:1rem;
}

@media (min-width: 768px) {
    .header{
        border-bottom: 1px solid var(--border-color);
        position: fixed;
        padding: 1rem 6rem;
        background: var(--primary-bg-color);
    }
    
    
    .nav--mobile{
        display: none;
    }

    .header__nav{
        display: flex;
    }
     .header__nav,
     .header__toggle{
        min-width: 30%;
    }
}

@media (min-width:1400px) {
    .header{
        padding: 1rem 15rem;
    }
}
